html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(6, 111, 172);
  margin: 0;
}

#nav {
  font-size: 4rem;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid white;
  min-height: 6rem;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.2rem;
  color: white;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  #nav {
    margin: 2rem;
    justify-content: center;
  }
}

#logo {
  margin-left: 4rem;
}

.btn1 {
  height: 4rem;
  width: 15rem;
  border-radius: 5rem;
  background-color: #ffffff;
  font-weight: 900;
  border: none;
  margin-right: 4rem;
  cursor: pointer;
}

.btn1:hover {
  background-color: #d2fac0;
}

#box {
  background-color: rgb(6, 111, 172);
}

.info {
  font-size: 4rem;
  padding: 1rem;
  background-color: #ffffff;
  margin: 0 2rem;
  border-radius: 1.5rem;
  font-weight: 900;
}

#dashboard {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.panelBox {
  width: 40rem;
  height: 20rem;
  border: 0.4rem solid rgb(211, 210, 210);
  margin: 2rem;
  background-color: white;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#application {
  font-size: 3rem;
  padding: 2rem;
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  flex-wrap: wrap;
}

.btn2 {
  height: 4rem;
  width: 30rem;
  border-radius: 5rem;
  background-color: #ffffff;
  color: black;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.btn2:hover {
  background-color: #d2fac0;
}

#tab {
  margin: 2rem;
  font-size: 2rem;
  color: #ffffff;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
}

table {
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 2rem;
}

th {
  border-bottom: 0.1rem solid rgb(211, 210, 210);
}

@media screen and (max-width: 700px) {
  table {
    font-size: 1rem;
  }
}

/*okno*/

.modal,
.modal2 {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 40rem;
  height: 50rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close-btn {
  float: right;
  width: 12rem;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #a30d0d;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin: 1rem;
  position: absolute;
  right: 15rem;
  bottom: 0;
}

.close-btn:hover {
  background-color: #b94a37;
}

.submit-btn1 {
  float: right;
  width: 12rem;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #0d3da3;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin: 1rem;
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.submit-btn1:disabled {
  background-color: #5d6466;
}


.submit-btn1:hover {
  background-color: #379bb9;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  text-align: center;
  font-size: 1.5rem;
  position: relative;
}

.hidden {
  display: none;
}

.smodal {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.inputs {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.close-modal {
  position: absolute;
  right: 20px;
  top: 1px;
}

textarea {
  resize: none;
  box-sizing: border-box;
}

input,
select {
  height: 3rem;
  font-size: 1.5rem;
}

ol {
  font-size: 2rem;
}



/* Footer */
.containerFooter {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
  width: auto;
  background-color: var(--infoColor);
  color: var(--textColor);
  margin: auto;
}

.logo-footer {
  display: flex;
}

.logo-footer .logo-footer-img {
  height: 40px;
  margin-right: 10px;
  position: relative;
  margin-top: 5px;
}

.person {
  width: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.person img {
  padding: 4px;
}

.person img:hover {
  cursor: pointer;
}


/*status colors */
.sacc {
  color: #1a8a54;
  font-weight: bold;
}

.slea {
  color: #7d188c;
  font-weight: bold;
}

.swai {
  color: #8a8c18;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.sref {
  color: #8c1818;
  font-weight: bold;
}