@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body {
	font-size: 20px;
	margin: 0;
	background-image: url(../../img/bg2.jpg);
	background-image: url(../../img/arches-national.jpg);
	background-repeat: no-repeat;
	background-size: inherit;
	background-position: center;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	text-align: center;
}

.logo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 55px;
	color: rgb(245, 203, 36);
	font-weight: 900;
	width: 250px;
	height: 150px;
	padding: 10px 0 30px 0;
	-moz-box-shadow: 3px 3px 30px 5px rgba(22, 7, 63, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(22, 7, 63, 0.9);
	background-color: white;
	background-color: rgba(204, 204, 204, 0.8);
	border-radius: 0 0 50% 50%;
	text-shadow: -3px -3px 8px rgba(66, 68, 90, 1);
	letter-spacing: 1px;
}

.logo img {
	height: 70px;
	width: 70px;
	margin-top: 5px;
	filter: drop-shadow(-15px 10px 5px #575454);
	-webkit-filter: drop-shadow(-15px 10px 5px #575454);
	-moz-filter: drop-shadow(-15px 10px 5px #575454);	
}


i {
	font-size: 110px;
	color: white;
	border-radius: 30%;
	position: absolute;
	top: -65px;
	left: calc(50% - 65px);
	background-color: rgb(238, 190, 0);
	padding: 20px;
}

@media only screen and (max-width: 992px) {
	i {

		font-size: 80px;
		border-radius: 30%;
		top: -55px;
		left: calc(50% - 60px);
	}
}

#container {
	position: relative;
	width: 300px;
	background-color: white;
	background-color: rgba(204, 204, 204, 0.8);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 5%;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(22, 7, 63, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(22, 7, 63, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(22, 7, 63, 0.9);
}


input[type=text],
input[type=password] {
	width: 300px;
	background-color: #efefef;
	color: #666;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid #ddd;
	outline: none;
}

input[type=text] {
	margin-top: 50px;
}

input[type=text]:focus,
input[type=password]:focus {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
	border: 2px solid #eec1c1;
	background-color: #ffffff;
	color: #52428c;
}

.reminder {
	text-decoration: none;
	color: rgb(110, 110, 110);
	font-size: 15px;
	font-weight: bold;
}

.reminder:hover {
	color: black;
}


input[type=button] {
	margin-top: 20px;
	width: 300px;
	font-size: 20px;
	padding: 15px 10px;
	background-color: rgb(238, 190, 0);
	color: rgb(108, 16, 16);
	border-radius: 5px;
	border: none;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: rgb(249, 215, 75);
}

input[type=button]:active{
	background-color: rgb(249, 215, 75);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.alert {
	padding: 10px;
	margin-top: 10px;
	background-color: #fa786e;
	/* Red */
	color: white;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
}

.hidden {
	display: none;
}


/* Alert Button - Mateusz*/