html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  --bgColor: #e2b659;
  --textColor: #412728;
  --infoColor: #f9f871;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #e2b659, #d9a754, #cf984f, #c48a4b, #b87c47);
  background-color: var(--bgColor);
  margin: 0;
  color: var(--textColor);
}

#nav {
  font-size: 4rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid white;
    min-height: 6rem;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.2rem;
    color: #412728;
    font-weight: 700;
    flex-wrap: wrap;
}

.nav-btn {
  font-size: 4rem;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 40rem;
  justify-content: right;
  align-items: baseline;
}

#logo {
  width: 40rem;
  margin-left: 4rem;
  
}

.name {
  text-align: center;
}

@media screen and (max-width: 700px) {

  #nav,
  #logo,
  .name,
  .btn1 {
    margin: 1rem 0;
    padding: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.btn1 {
  height: 4rem;
  width: 15rem;
  margin-right: 4rem;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3rem;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
  font-weight: 700;
}

.btn1:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

.btn1:active {
  position: relative;
  top: 1px;
}

.nav-link {
  text-decoration: none;
  color: rgb(242, 246, 246);
}

.btn1:hover {
  background-color: #d2fac0;
  -webkit-box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
}

.box {
  background-image: linear-gradient(to right, #e2b659, #d9a754, #cf984f, #c48a4b, #b87c47);
  background-color: var(--bgColor);
}

.info {
  font-size: 4rem;
  padding: 1rem;
  background-color: var(--infoColor);
  margin: 0 2rem;
  border-radius: 1.5rem;
  font-weight: 900;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(65, 39, 40, 1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(65, 39, 40, 1);
  box-shadow: 0px 0px 10px 4px rgba(65, 39, 40, 1);
  text-align: center;
  width: 95%;
  margin: auto;
}

#dashboard {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.panelBox {
  width: 40rem;
  min-height: 10rem;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(65, 39, 40, 1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(65, 39, 40, 1);
  box-shadow: 0px 0px 10px 4px rgba(65, 39, 40, 1);
  margin: 2rem;
  background-color: var(--infoColor);
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#application {
  font-size: 3rem;
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  flex-wrap: wrap;
}

.btn2,
.btn3 {
  height: 4rem;
  width: 30rem;
  box-shadow: inset 0px 1px 0px 0px #5a1c05;
  background: linear-gradient(to bottom, #412728 5%, #543a3a 100%);
  background-color: #412728;
  border-radius: 3rem;
  border: 1px solid #430202;
  display: inline-block;
  cursor: pointer;
  color: rgb(232, 229, 229);
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
  font-weight: 700;
}

.btn2:hover,
.btn3:hover {
  background: linear-gradient(to bottom, #543a3a 5%, #412728 100%);
  background-color: #3b0e04;
}

.btn2:active,
.btn3:active {
  position: relative;
  top: 1px;
}

.tab {
  margin: 2rem;
  font-size: 2rem;
  color: #ffffff;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
}

tr {
  border: 0.2rem solid var(--textColor);
}

table {
  width: 100%;
  text-align: center;
  background-color: var(--infoColor);
  color: var(--textColor);
}


@media screen and (max-width: 700px) {
  table {
    font-size: 1rem;
  }
}

/*okno*/


.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal2 {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal3 {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 40rem;
  height: 50rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.modal-content span {
  margin-left: 5px;
}

.modal-add-worker {
  height: 66rem;
}

.close-btn,
.close-btn2 {
  float: right;
    width: 12rem;
    height: 4rem;
    margin: 1rem;
    position: absolute;
    right: 23rem;
    bottom: 0;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3rem;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    font-weight: 700;
}

.close-btn:hover,
.close-btn2:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

.submit-btn1 {
  float: right;
  width: 17rem;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: var(--bgColor);
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin: 1rem;
  position: absolute;
  right: 2rem;
  bottom: 0;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  font-weight: 700;
  text-align: center;
}

.submit-btn1:disabled {
  background-color: #5d6466;
}

.submit-btn1:hover {
  background-color: #379bb9;
}


.hidden {
  display: none;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  text-align: center;
  font-size: 1.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 30rem;
  justify-content: space-between;
}

textarea {
  resize: none;
  box-sizing: border-box;
}


input,
select {
  height: 3rem;
  font-size: 1.5rem;
}

ol {
  font-size: 2rem;
}

.smodal {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 500px) {
  .modal-content {

    padding: 20px;
    margin: auto;
    width: 35rem;
    /* height: 50rem; */

  }

  .modal-content h1 {
    font-size: 1.5em;
  }
}

/* Scroll UP */
#button {
  display: inline-block;
  background-color: rgb(219, 216, 212, 0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  /* content: url(":/employee/img/up-arrow.png"); */
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
}

#button:active {
  background-color: rgb(0, 0, 0, 0.5);
}

#button.show {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}