html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(6, 111, 172);
  margin: auto;
}

#nav {
  font-size: 4rem;
  display: flex;
  border-bottom: 0.2rem solid white;
  min-height: 6rem;
  justify-content: space-between;
  flex-direction: row;
  letter-spacing: 0.2rem;
  color: white;
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 2rem;
}

.nav-btn {
  font-size: 4rem;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 40rem;
  justify-content: right;
  align-items: baseline;
}

#logo {
  width: 40rem;
}

.name {
  text-align: center;
}

@media screen and (max-width: 700px) {
  #nav,
  #logo,
  .name,
  .btn1 {
    margin: 1rem 0;
    padding: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.btn1 {
  height: 4rem;
  width: 15rem;
  border-radius: 5rem;
  background-color: #ffffff;
  font-weight: 900;
  border: 0.1rem solid rgb(151, 149, 149);
  cursor: pointer;
  text-align: center;
}
.nav-link {
  text-decoration: none;
  color: black;
}

.btn1:hover {
  background-color: #d2fac0;
  -webkit-box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
}

.box {
  background-color: rgb(6, 111, 172);
}

.info {
  font-size: 4rem;
  padding: 1rem;
  background-color: #ffffff;
  margin: 0 2rem;
  border-radius: 1.5rem;
  font-weight: 900;
}

#dashboard {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.panelBox {
  width: 40rem;
  min-height: 10rem;
  border: 0.4rem solid rgb(211, 210, 210);
  margin: 2rem;
  background-color: white;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#application {
  font-size: 3rem;
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  flex-wrap: wrap;
}

.btn2,
.btn3 {
  height: 4rem;
  width: 30rem;
  border-radius: 5rem;
  background-color: #ffffff;
  color: black;
  font-weight: 900;
  border: none;
  cursor: pointer;
  border: 0.1rem solid rgb(151, 149, 149);
}

.btn2:hover,
.btn3:hover {
  background-color: #d2fac0;
  -webkit-box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 8px -2px rgba(66, 68, 90, 1);
}

.tab {
  margin: 2rem;
  font-size: 2rem;
  color: #ffffff;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
}

table {
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 2rem;
}
th {
  border-bottom: 0.1rem solid rgb(211, 210, 210);
}

@media screen and (max-width: 700px) {
  table {
    font-size: 1rem;
  }
}

/*okno*/


.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal2 {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal3 {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 40rem;
  height: 50rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-add-worker{
  height: 58rem; 
}
.close-btn,
.close-btn2 {
  float: right;
  width: 12rem;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #a30d0d;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin: 1rem;
  position: absolute;
  right: 15rem;
  bottom: 0;
}

.close-btn:hover,
.close-btn2:hover {
  background-color: #b94a37;
}

.submit-btn1 {
  float: right;
  width: 12rem;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #0d3da3;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin: 1rem;
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.submit-btn1:disabled {
  background-color: #5d6466;
}

.submit-btn1:hover {
  background-color: #379bb9;
}


.hidden {
  display: none;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  text-align: center;
  font-size: 1.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 30rem;
  justify-content: space-between;
}

textarea {
  resize: none;
  box-sizing: border-box;
}

input,
select {
  height: 3rem;
  font-size: 1.5rem;
}
ol {
  font-size: 2rem;
}

.smodal {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
} 