
.icon-bat2:before { content: '\e800'; } /* '' */
.icon-help:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-user-secret:before {content: '\f21b'; } /* '' */
